<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>UniqueId</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Middle Name</th>
      <th>Name</th>
      <th>Contact Number</th>
      <th>Gender</th>
      <th>Date of Birth</th>
    </tr>
    </thead>
    <tbody *ngIf="employees && employees.length > 0; else loadingEmployees">
      <tr *ngFor="let employee of employees">
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.uniqueId }}</td>
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.middleName }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.contactNo }}</td>
        <td>{{ employee.gender }}</td>
        <td>{{ employee.dateOfBirth }}</td>
      </tr>
      <ng-template #loadingEmployees>
        <tr>
          <td>Loading data...</td>
        </tr>
      </ng-template>
    </tbody>
</table>
