@import '~@angular/material/prebuilt-themes/deeppurple-amber';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

main {
  padding: 1rem;
  width: 100%;
}

.icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 1rem;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}
