<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog.log">

  <!-- the targets to write to -->
  <targets>

    <target name="database" xsi:type="Database"
            dbProvinventoryIder="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="User ID=postgres;Password=postgres;Host=localhost;Port=5432;Database=aromato;Pooling=true;"
    >
      <commandText>
        insert into logs (application, logged, level, message, logger, callsite, exception)
        values (@Application, @Logged, @Level, @Message, @Logger, @Callsite, @Exception);
      </commandText>
      
      <parameter name="@application" layout="Aromato" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

    <target name="databaseApi" xsi:type="Database"
            dbProvinventoryIder="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="User ID=postgres;Password=postgres;Host=localhost;Port=5432;Database=aromato;Pooling=true;"
    >
      <commandText>
        insert into logs (application, logged, level, message, logger, callsite, exception)
        values (@Application, @Logged, @Level, @Message, @Logger, @Callsite, @Exception);
      </commandText>

      <parameter name="@application" layout="Aromato.WebApi" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="Aromato.WebApi.*" minlevel="Debug" writeTo="databaseApi" />
    <logger name="*" minlevel="Debug" writeTo="database" />
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>