<ng-container *ngFor="let inventory of inventories$ | async">
<md-card>
  <md-card-header>
    <md-card-title>{{ inventory.name }}</md-card-title>
    <md-card-subtitle>{{ inventory.description }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <table class="table">
      <thead>
        <th>UniqueId</th>
        <th>Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Last Updated</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of inventory.items">
          <td scope="row">{{ item.uniqueId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.dateAdded }}</td>
          <td>{{ item.lastUpdated }}</td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
</ng-container>
