<form novalidate [formGroup]="authorize">
  <h1>Logging in as {{ name }}</h1>
  <md-input-container class="form-control">
    <input mdInput type="password" formControlName="password" placeholder="Password">
  </md-input-container>
  <md-select class="form-control" formControlName="role" placeholder="Role">
    <md-option *ngFor="let role of roles$ | async" [value]="role">
      {{ role.name }}
    </md-option>
  </md-select>
  <div class="form-control">
    <button md-raised-button (click)="onSubmit()">Login</button>
  </div>
</form>
