<md-card>
  <md-card-title>Sign In</md-card-title>
  <md-card-subtitle>to Aromato</md-card-subtitle>
  <md-card-content>
    <div fxLayout="column">
      <md-input-container fxFlex="100%">
        <input type="text" mdInput placeholder="Username">
        <md-error>Username is required.</md-error>
      </md-input-container>
      <div class="login-actions">
        <a routerLink="/login/role" class="login-button" color="primary" md-raised-button>Next</a>
      </div>
    </div>
  </md-card-content>
</md-card>
