<md-sidenav-container>
  <md-sidenav #sidenav mode="over">
    <h1>Hello world</h1>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="icon-button menu-button" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <div class="mr-auto">Aromato</div>
    <md-menu #appMenu="mdMenu">
      <button md-menu-item> Settings </button>
      <button md-menu-item> Help </button>
    </md-menu>
    <button md-icon-button [mdMenuTriggerFor]="appMenu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>
</md-sidenav-container>
