<table class="table">
  <thead>
    <th>Unique ID</th>
    <th>Family Name</th>
    <th>Given Name</th>
    <th>Middle Name</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th>Contact No</th>
    <th>Email</th>
  </thead>
  <tbody *ngFor="let employee of employees$ | async">
    <tr>
      <td>{{ employee.uniqueId }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.middleName }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.dateOfBirth }}</td>
      <td>{{ employee.contactNo }}</td>
      <td>{{ employee.email }}</td>
    </tr>

  </tbody>
</table>
