<div class="login-container">
  <md-card>
    <md-toolbar color="primary">
      <span>Aromato</span>
    </md-toolbar>
    <md-card-content *ngIf="!(isAuthenticated$ | async)">
      <form novalidate [formGroup]="login">
        <md-input-container class="form-control">
          <input mdInput type="text" formControlName="username" placeholder="Username">
        </md-input-container>
        <md-input-container class="form-control">
          <input mdInput type="password" formControlName="password" placeholder="Password">
        </md-input-container>
        <div class="form-control">
          <button md-raised-button (click)="onSubmit()">Login</button>
        </div>
      </form>
    </md-card-content>
    <md-card-content *ngIf="(isAuthenticated$ | async)">
      <app-authorize></app-authorize>
    </md-card-content>
  </md-card>
</div>

