md-input-container, button {
  width: 100%;
}

button {
  padding: 0.5rem;
}

.avatar-img {
  width: 12rem;
  margin-bottom: 1.8rem;
}

.login-footer .lead {
  margin-top: 5rem;
  font-size: 1rem;
  color: #808080;
}
